body {
	background: #edeef0;
}

a,
a:hover,
a:focus,
a:active {
	color: #009999;
	outline: 0;
}

.info {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2rem 0;
}

.logo {
	width: 250px;
	height: 250px;
	border: 3px solid #2c3e50;
	border-radius: 50%;
}

.skills {
	font-size: 1.6rem;
	font-family: Helvetica, Arial, sans-serif;
	color: #233140;
	text-align: center;
}

@media(min-width:320px) {
	.skills {
		line-height: 1.2;
	}
}

@media(min-width:768px) {
	.skills {
		line-height: 1.5;
	}
}

.btn-outline {
	transition: all .3s ease-in-out;
}

.btn-cv {
	padding: 0.8rem 1rem;
	border: solid 2px #2c3e50;
	border-radius: 30px;
	font-size: 1.25rem;
	font-family: Helvetica, Arial, sans-serif;
	color: #2c3e50;
	text-decoration: none;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
	color: #009999;
	outline: 0;
}

.list-inline {
	list-style-type: none;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}

.btn-social {
	color: #233140;
	padding: 0.8rem 1rem;
	border: 2px solid #2c3e50;
	border-radius: 30px;
	font-size: 1.25rem;
	margin: 0.7rem;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	display: block;
}


@media (prefers-color-scheme: dark) {
	body {
		background-color: #393939;
	}
	.logo {
		border-color: #4bd0a7;
	}
	.skills {
		color: #4bd0a7;
	}
	.btn-cv {
		border-color: #4bd0a7;
		color: #4bd0a7;
	}
	.btn-social {
		color: #4bd0a7;
		border-color: #4bd0a7;
	}
	.btn-outline:hover,
	.btn-outline:focus,
	.btn-outline:active {
		color: #ffffff;
	}
}